.container {
  display: block;
  width: 800px;
  margin: 20px;
  border: 10px orange solid;
}
.details-wrapper {
  width: 100%;
  padding: 40px;
}
.personal-details-wrapper {
  float: left;
  width: 100%;
  margin: 15px 0;
  padding: 15px 0;
  display: flex;
  position: relative;
  flex-direction: row;
  border-bottom: solid 2px brown;
}
.details-header-wrapper {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 10px 0;
}

.left {
  width: 80%;
}
.person-details ul {
  width: 100%;
  line-height: 1.5;
}

.person-details .details-title {
  width: 50%;
  float: left;
}
.person-details .details-answer {
  width: 50%;
  float: right;
}
.right {
  width: 50%;
}
.profile-figure-wrapper {
  margin-top: 20px;
  float: right;
}
.profile-figure-wrapper figure {
  border: 2px solid brown;
  box-shadow: 0px 4px 4px 0px rgba(19, 5, 5, 0.693);
  width: 140px;
  height: 190px;
}
.profile-figure-wrapper figure img {
  width: 100%;
  height: 100%;
}

.eduction-wrapper {
  width: 100%;
}
.eduction-wrapper .eduction-header h2 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
  letter-spacing: 1px;
}
.eduction-content-wrapper ul li {
  list-style-type: disc;
  width: 100%;
  line-height: 2;
  margin-left: 15px;
}
.eduction-content-wrapper ul span {
  width: 10%;
  float: left;
}

.others-skill-wrapper {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 2px brown;
}

.others-skill-wrapper .other-skill-header {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
  letter-spacing: 1px;
}
.others-skill-content-wrapper ul li {
  line-height: 1.5;
  list-style-type: disc;
  margin-left: 15px;
}
.work-experience-wrapper {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 2px brown;
}
.work-experience-wrapper .work-experience-header,
.organisation-experience-wrapper .organisation-experience-header h2 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
  letter-spacing: 1px;
}

.work-experience-content ul li {
  list-style-type: disc;
  width: 100%;
  line-height: 1.5;
  margin-left: 15px;
}
.work-experience-content ul span {
  width: 20%;
  float: left;
}
