.main-container {
  width: 100%;
}
.section {
  width: 100%;
}
.container {
  width: 95%;
}
.navbar-wrapper {
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.241);
}
.content-wrapper {
  display: flex;
  flex-direction: row;
}
.logo-wrapper {
  width: 20%;
}
.logo-wrapper figure {
  width: 150px;
  height: 60px;
}

.logo-wrapper figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 15px;
}
.company-name-wrapper {
  width: 50%;
}
.company-name-wrapper h1 {
  font-size: 40px;
  text-align: center;
  line-height: 2;
  font-weight: 600;
}
.page-content-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.left-side {
  width: 30%;
  padding: 10px;
  margin: 10px;
}
.navigation-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px orange solid;
  border-radius: 20px;
  height: 500px;
  line-height: 5;
}
.links a {
  color: orangered;
  font-size: 15px;
  font-weight: 600;
}
.right-side {
  width: 70%;
  padding: 10px;
  margin: 10px;
}

.company-intro-wrapper {
  width: 100%;

  border: 2px orange dashed;
  border-radius: 20px;
}
.intro-heading {
  width: 100%;
  text-align: center;
  font-size: 40px;
}
.intro-content {
  margin: 20px 15px;
  text-align: center;
  font-size: 18px;
  overflow: auto;
  height: 420px;
}
.intro-content p {
  margin: 20px 0;
}

/* ABOUT US PAGE CSS START */
.about-us-wrapper {
  width: 95%;
  border: 2px orange solid;
  border-radius: 20px;
  padding: 20px 30px;
  margin: 20px auto;
}
.section-heading-wrapper {
  width: 100%;
  margin: 10px 10px;
}
.section-heading-wrapper .section-heading {
  text-align: left;
  font-size: 35px;
}
.section-content-wrapper {
  display: flex;
  width: 100%;
}
.left {
  width: 70%;
}
.about-us-content {
  padding: 10px 0px;
  padding-right: 40px;
}
.about-us-content p {
  margin: 15px 0;
  font-size: 17px;
}
.right {
  width: 20%;
}
.about-us-image {
  width: 100%;
}
.about-us-image figure {
  width: 300px;
  height: 300px;
}
.about-us-image figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contact us */
.contact-section {
  width: 90%;
  margin: 0px auto;
  border: 2px solid orange;
  margin-top: 20px;
  padding-bottom: 20px;
}
.contact-heading-wrapper {
  width: 90%;
  text-align: left;
  font-size: 35px;
  padding: 20px;
}
.contact-us-wrapper {
  width: 500px;
  background: rgba(128, 128, 128, 0.508);
  margin: 0 auto;
}
.contact-us-wrapper .sub-heading {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}
.contact-address {
  text-align: center;
  font-size: 17px;
  line-height: 1;
  margin: 10px 0;
  padding: 20px 10px;
}
.google-map-link {
  text-align: center;
  margin: 10px 0;
}
.google-map-link a {
  color: green;
}
