body {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
}
.main-container {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.page-title-wrapper {
  background-color: salmon;
  height: 50px;
  font-size: 10px;
  padding: 30px 0;
}

.form-wrapper {
  margin: 0;
  width: 100%;
  background-color: palevioletred;
  height: 250px;
  line-height: 3;
  margin-bottom: 20px;
}

.form {
  width: 85%;
  margin: 0 auto;
  padding-top: 20px;
}
.row {
  display: flex;
  justify-content: space-around;
}
.form-group {
  width: 41%;
  margin: 0 auto;
  height: 37px;
  display: flex;
}
.form-group input {
  padding: 15px 20px;
  outline: none;
  border: 1px solid grey;

  color: black;
  margin-top: 10px;
  font-size: 18px;
}
select {
  padding: 10px 41px;
  height: 37px;

  margin-left: 197px;
  margin-top: 7px;
}
.form-group label {
  width: 40%;
  font-size: 18px;
  margin-left: 30px;
}
.submit-btn {
  margin-top: 20px;
  height: 45px;
  width: 120px;
  border: none;
  background-color: salmon;
  color: wheat;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 black;
  border-radius: 12px;
}
table {
  padding-top: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  background-color: salmon;
}

.table-row,
.table-col {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.dlt-btn {
  background-color: rgb(141, 16, 16);
  color: #dddddd;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.update-btn {
  background-color: rgb(110, 16, 141);
  color: #dddddd;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}
