.main-container {
  width: 100%;
  float: left;
}

.nav-wrapper {
  width: 100%;
  height: 250px;
  z-index: 11111;
}
.navbar {
  width: 95%;
  margin: 0 auto;
}
.navbar .company-details-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.company-logo {
  margin: 0 10px;
}
.company-logo figure {
  width: 80px;
  height: 80px;
}

.company-logo figure img {
  width: 100%;
  height: 100%;
}
.navbar .company-name-header {
  font-size: 35px;
  font-weight: 600;
  text-align: start;
  line-height: 2;
}

.recent-notification-link {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}
.recent-notification-link a {
  text-decoration: none;
  color: rgb(43, 149, 191);
}
.nav-items-wrapper {
  margin: 10px 0;
  display: flex;
  width: 70%;
  float: right;
}
.links-wrapper {
  width: 50%;
}
.links-wrapper .links ul {
  display: flex;
  justify-content: space-around;
}
.links-wrapper .links ul li {
  border-right: 2px solid;
  padding: 0 10px;
}
.links ul li a {
  font-size: 18px;
  color: rgb(43, 149, 191);
  margin-left: 10px;
}
.search-input-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.search-input input {
  border-radius: 30px;
  border: 2px solid;
  padding: 5px 20px;
  font-size: 15px;
}
