.navbar-wrapper {
  width: 100%;
  height: 70px;
  background-color: #f5f5f5;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.165);
  z-index: 1111;
  position: fixed;
}
.navbar {
  display: flex;
  align-items: center;
}

.navbar-title-wrapper {
  width: 30%;
  text-align: center;
  font-size: 35px;
}
.navbar-menu-item-wrapper {
  width: 50%;
}
.navbar-menu-item-wrapper .navbar-menu-item .menu-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-menu-item-wrapper .navbar-menu-item .menu-items .menu-item-links {
  width: 10%;
  margin: 0 5px;
  line-height: 4;
}
.navbar-features-wrapper {
  width: 10%;
}
.navbar-features-wrapper .navbar-features {
  float: right;
  width: 30px;
  font-size: 25px;
  height: 40px;
  margin-top: 10px;
}
.dropdown-items-wrapper {
  display: none;
  position: absolute;
  font-size: 18px;
  width: 200;
  height: 200px;
  text-align: left;
  line-height: 1.8;
  background-color: #f5f5f5;
  top: 50px;
  padding: 0 20px;
  left: 80%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.165);
}

.dropdown-items-wrapper .dropdown-items ul li a {
  text-decoration: none;
}
.navbar-features:hover .dropdown-items-wrapper {
  display: block;
}
.background-image-wrapper {
  padding-top: 30px;
  width: 100%;
  height: 600px;
  margin-top: 30px;
}
.background-image-wrapper .background-image figure {
  width: 100%;
  height: 100%;
}
.background-image-wrapper .background-image figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-title-wrapper {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 35%;
  color: #fff;
  font-size: 60px;
}
.company-details-wrapper {
  width: 100%;
  height: 120px;
  border: 2px solid;
  display: flex;
  justify-content: center;
}

.logo-wrapper {
  width: 30%;
  display: flex;
}
.logo-wrapper .logo {
  width: 100px;
  height: 100px;
}
.logo-wrapper .logo figure {
  width: 100%;
}
.logo-wrapper .logo figure img {
  width: 100%;
  height: 100%;
}
.company-details-title {
  width: 20%;
  font-size: 40px;
  margin-top: 30px;
  text-align: center;
}
.section-title-wrapper {
  width: 100%;
  margin: 20px 0;
}
.section-title {
  text-align: center;
  font-size: 35px;
  width: 30%;

  border-bottom: 2px solid;
  margin: 20px auto;
}
.section-title-wrapper .tag-line {
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}
.sub-section-wrapper {
  display: flex;
}
.sub-section {
  width: 30%;
  margin: 20px auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.165);
}
.sub-section-image {
  width: 80px;
  margin: 0 auto;
  height: 80px;
  padding: 10px;
}
.sub-section-image figure img {
  width: 100%;
  height: 100%;
}
.sub-section-title {
  width: 100%;
  text-align: center;
  font-size: 25px;
}
.sub-section-content {
  font-size: 15px;
  text-align: center;
  padding: 10px;
}
