.main-container {
  width: 100%;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.navbar-wrapper {
  width: 100%;
  float: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: palevioletred;
  z-index: 11111;
  border-top: 2px solid;
  border-bottom: 2px solid;
}
.company-name-header {
  width: 100%;
  font-size: 35px;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
  color: #fff;
}
.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.company-image-wrapper {
  width: 40%;
  height: 300px;
}

.company-image-wrapper figure {
  width: 100%;
  height: 100%;
  border: 2px solid;
}

.company-image-wrapper figure img {
  width: 100%;
  height: 100%;
}
.register-button-wrapper {
  align-items: center;
  width: 20%;
  display: flex;
  justify-content: center;
}
.register-button {
  width: 50%;
}
.register-button .btn {
  width: 100%;
  background-color: palevioletred;
  border: 2px solid;
  padding: 10px 20px;
  box-shadow: 0 4px 4px 0 rgba(5, 5, 5, 0.611);
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.food-item-list-wrapper {
  width: 40%;
}
.food-item-list {
  border: 2px solid;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.food-item-list .each-item {
  font-size: 18px;
  line-height: 2;
}

.footer-wrapper {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: palevioletred;
  border-bottom: 2px solid;
  border-top: 2px solid;
}
.footer .link-wrapper {
  width: 20%;
  float: right;
}
.footer .link-wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 2.3;
}

.footer .link-wrapper ul li {
  font-size: 20px;
}
