.main-container {
  width: 100%;
  background-color: black;
  height: 100%;
  position: relative;
}

.box1 {
  background-color: salmon;
  width: 20%;
  height: 32%;
  position: absolute;
  left: 5px;
  top: 5px;
}

.box2 {
  background-color: salmon;
  width: 20%;
  height: 32%;
  position: absolute;
  left: 5px;
  top: 37%;
}

.box3 {
  background-color: skyblue;
  width: 20%;
  height: 25%;
  position: absolute;
  left: 5px;
  top: 74%;
}

.box4 {
  background-color: red;
  width: 78%;
  height: 69%;
  left: 22%;
  top: 5px;
  position: absolute;
}
.box5 {
  position: absolute;
  background-color: rosybrown;
  width: 75%;
  height: 25%;
  top: 74%;
  left: 22%;
}

.box6 {
  position: absolute;
  background-color: #f5f5ff;
  width: 20px;
  height: 60px;
  left: 98%;
  top: 74%;
}
.box7 {
  position: absolute;
  background-color: yellow;
  width: 20px;
  height: 60px;
  left: 98%;
  top: 90%;
}
