.container {
  width: 100%;
  float: left;
  display: flex;
  position: relative;
}

.left {
  width: 30%;
  background: #3d4f5d;
  position: relative;
}
.left-side-wrapper {
  padding-right: 30px;
  position: absolute;
  top: 30%;
  left: 40%;
}
.blog-header-wrapper .blog-header h1 {
  font-size: 40px;
  color: #ffff;
  text-align: right;
  text-transform: uppercase;
  margin: 10px 0;
}

.blog-header-wrapper .blog-header h2 {
  font-size: 20px;
  color: #ffff;
  text-align: right;
  margin: 10px 0;
  letter-spacing: 2px;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
.button-wrapper .btn {
  margin-left: 5px;
  border: 2px solid white;
  outline: none;
  padding: 5px 15px;
  background: transparent;
  color: #ffff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.right {
  width: 65%;
}

.article-wrapper {
  padding: 20px;
  margin-bottom: 10px;
}
.article-header {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.234);
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.172);
  padding-bottom: 15px;
}
.article-header-wrapper {
  width: 100%;
}
.article-header-wrapper .article-heading {
  font-size: 38px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.755);
  margin: 10px 0;
}
.article-heading-image {
  float: right;
  transform: translate(10px, -30px);
}
.article-heading-image figure {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.article-heading-image figure img {
  width: 100%;
  height: 100%;
}
.article-author-wrapper {
  width: 60%;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.755);
  display: flex;
}
.author-details .author-name {
  color: blue;
}
.article-level-wrapper {
  color: #ffff;
  font-weight: bold;
  margin-left: 5px;
  font-size: 12px;
}
.article-level-wrapper .red {
  padding: 3px 15px;
  background-color: rgb(202, 41, 41);
}
.article-level-wrapper .blue {
  padding: 3px 15px;
  background-color: rgb(94, 94, 252);
}
.article-level-wrapper .green {
  padding: 3px 15px;
  background-color: rgb(66, 216, 66);
}
.article-content p {
  margin: 10px 0;
  width: 100%;
  line-height: 1.5;
}
