/* container css */
.main-container {
  width: 100%;
  float: left;
}
.container {
  width: 90%;
  margin: 0 auto;
}

/* navbar css */
.navbar-container {
  width: 80%;
  margin: 0 auto;
}
.navbar-wrapper {
  width: 100%;
  height: 50px;
  background-color: #36454f;
  position: fixed;
  z-index: 11111;
}

.navbar {
  width: 100%;
  float: left;
}

.navbar-content-wrapper {
  line-height: 1.5;
  display: flex;
  align-items: center;
}
.navbar-title {
  width: 25%;
  font-size: 30px;
}
.navigation-items-wrapper {
  width: 50%;

  margin: 0 auto;
}
.navigation-items .navigation-links {
  display: flex;
  justify-content: space-evenly;
}
.navigation-links .links {
  border: 1.5px solid;
  height: 50px;
  text-align: center;
  width: 178px;
  line-height: 2.7;
  font-size: 18px;
  background-color: #fff;
}
.navigation-links .active {
  background-color: rgb(20, 103, 192);
  border: none;
}
.navigation-links .active a {
  color: white;
}
.navigation-links a {
  text-decoration: none;
  color: black;
}
.login-link-wrapper {
  width: 20%;
}
.login-link {
  float: right;
  font-size: 18px;
}
.login-link a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid;
}

/* Banner css start */
.bannner-wrapper {
  width: 100%;
  margin-top: 30px;
  padding-top: 90px;
}

.banner-image-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
}
.banner-image {
  width: 100%;
  height: 100%;
}

.banner-image figure {
  width: 100%;
  margin: 0;
}
.banner-image figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner-content-wrapper {
  position: absolute;
  top: 25%;
  left: 10%;
  color: #fff;
  text-align: center;
}

.banner-content .banner-title {
  font-size: 50px;
  margin: 20px 0;
  font-weight: 500;
}
.banner-content .banner-tagline {
  font-size: 20px;
}

/* features css start */
.information-section-wrapper {
  width: 100%;
  float: left;
  margin-top: 20px;
  padding-top: 20px;
}
.infomation-section-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
}
.left-side {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}

.left-side-header {
  width: 100%;
  font-size: 30px;
  padding: 20px;
}
.align-features {
  display: flex;
}
.features {
  width: 100%;
  padding: 20px;
  display: flex;
}

.features figure {
  width: 40px;
  height: 40px;
}
.features figure img {
  width: 100%;
  height: 100%;
}

.features-content-wrapper {
  padding: 0 10px;
}
.features-title {
  font-size: 25px;
  margin: 10px 0;
}
.right-side {
  width: 20%;
  margin: 0 auto;
  padding: 10px;
}
.contact-btn-wrapper {
  width: 100%;
  margin-top: 20px;
}
.contact-btn {
  width: 90%;

  text-align: center;
  font-size: 20px;
  padding: 10px 20px;
}
.contact-btn .btn {
  color: #fff;
  text-decoration: none;
}
.future-event-wrapper {
  padding-top: 20px;
  margin-top: 20px;
}
.future-event-heading {
  font-size: 30px;
  width: 100%;
  font-weight: bold;
}
.future-event-sub-heading {
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
}
.events-date-wrapper {
  width: 100%;
  margin-top: 10px;
  line-height: 1.2;
}
.event .event-date {
  margin-left: 5px;
}
.past-event-wrapper {
  margin-top: 10px;
  padding-top: 10px;
}

.past-event-heading {
  font-size: 30px;
  width: 100%;
  margin-bottom: 10px;
}
.past-events {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.165);
  line-height: 3;
}
.past-event {
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.past-event:hover {
  background-color: #ededed;
}
.past-events a {
  color: black;
  text-decoration: none;
}
/* footer css start */
.footer-section {
  margin-top: 10px;
  padding-top: 10px;
}
.footer-section-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.footer-sub-section-heading {
  font-size: 25px;
  margin: 20px 0;
}
.footer-sub-section-links {
  line-height: 1.5;
}
.footer-buttom-section {
  width: 85%;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin: 0 auto;
  display: flex;
  padding: 10px 0;
}
.important-links-wrapper {
  display: flex;
  width: 40%;
  line-height: 3;
  justify-content: space-around;
}
.event a,
.important-links a,
.footer-sub-section-link a {
  color: #0000ee;
}
.global-site-btn {
  display: flex;
  float: right;
  justify-content: flex-end;
  width: 50%;
}
.btn {
  background-color: #36454f;
  text-align: center;
  font-size: 20px;
  padding: 10px 20px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.678);
  border-radius: 40px;
}
.btn button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
}
.footer-copyright {
  text-align: center;
  padding: 20px 0;
}

/* Contact us page css */
.contact-us-heading {
  font-size: 35px;
}
.form-wrapper {
  margin-top: 30px;
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}

.form-group {
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
}
.form-label {
  font-size: 15px;
  padding: 10px 10px;
}
.form-group input {
  border: none;
  padding: 10px 30px;
  background: rgba(191, 188, 188, 0.933);
  color: #000;
  font-size: 18px;
  outline: none;
}
.form-group textarea {
  border: none;
  padding: 10px 30px;
  background: rgba(128, 128, 128, 0.487);
  color: #000;
  font-size: 18px;
  outline: none;
  margin-left: 10px;
  margin-top: 10px;
}
.submit-button button {
  width: 20%;
  text-align: center;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.678);
  background-color: #36454f;

  color: #fff;
}
