.main-container {
  width: 100%;
  float: left;
}

.quiz-navbar {
  padding-top: 20px;
  margin-top: 20px;
  width: 90%;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 40px;
  height: 50px;
}
.navbar {
  width: 100%;
}

.navbar-title {
  text-align: center;
  font-size: 30px;
}
.navbar-title h1 {
  margin: 0;
}

.quiz-wrapper {
  margin-top: 20px;
  padding-top: 50px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.quiz-question {
  width: 100%;
  font-size: 25px;
}
.option-wrapper {
  display: flex;
  justify-content: center;
}
.option figure {
  width: 200px;
  height: 200px;
}
.option figure img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s all;
  cursor: pointer;
}
.option figure img {
  width: 100%;
  height: 100%;
}

.remark {
  width: 100%;
  text-align: center;
}
